<div class="row">

  <div class="col-md-4">
    <p>Today's Date: {{moment today "L"}}</p>
    <p>{{firstMonthEquation}}</p>
    <p>{{{middleMonthEquation}}}</p>
    <p>{{endMonthEquation}}</p>
  </div>

  <div class="col-md-8">
    <p>Monthly Rate: {{number-input value=monthlyAmount}}</p>
    <p>Start date: {{bootstrap-datepicker value=start format="mm/dd/yyyy" todayHighlight=true}}</p>
    <p>End date: {{bootstrap-datepicker value=end format="mm/dd/yyyy" todayHighlight=true}}</p>
    <p><b>Prorated rate: ${{proratedRate}}</b></p>
    {{zero-clipboard text=blurb innerClass="btn btn-default" label='Copy blurb' afterCopyLabel='Copied!'}}
    <p>{{blurb}}</p>
  </div>
  
</div>
