<p>Monthly Rate: {{input value=monthlyAmount}}</p>
<p>{{prorateEquation}}</p>
<p><b>{{proratedRate}}</b></p>
<p>today's date: {{moment today "L"}}</p>
<p>days this month: {{moment lastDayOfMonth "D"}}</p>
{{zero-clipboard text=blurb innerClass="btn btn-default" label='blurb (copy)'}}
<p>{{blurb}}</p>
<p>full date: {{today}}</p>
<p>{{momentDate}}</p>