<p>Monthly Rate: {{input value=monthlyAmount}}</p>
<p>{{prorateEquation}}</p>
<p><b>{{proratedRate}}</b></p>
{{zero-clipboard text=blurb innerClass="btn btn-default" label='blurb (copy)'}}
<p>{{blurb}}</p>
