<p> My monthly rate is </p>
{{input value=monthlyAmount}}

<p>prorated rate: {{monthlyAmount}} / {{daysInMonth}} * {{daysLeftInMonth}} =</p>
<p><b>{{proratedRate}}</b></p>
<p>today's date: {{date}}</p>
<p>days this month: {{daysInMonth}}</p>
<p><button type="button" class="btn btn-default" onclick={{copyBlurb}}>blurb (copy)</button>{{blurb}}</p>
<p>full date: {{today}}</p>
<p>{{momentDate}}</p>