<div class="jumbotron">
  <h1>My accounting app</h1>
  <p> My monthly rate is </p>
  {{input value=monthlyAmount}}

  {{!-- <h2>{{annualRate}}</h2>
  <h2>{{decadeRate}}</h2> --}}
  <p>{{name}}</p>
  <p>{{daysInMonth}}</p>
  <p>{{currentDate}}</p>
  <p>{{prorateFactor}}</p>
  <p>{{number-format proratedAmount}}</p>
</div>
